@font-face {
  font-family: 'concreap';
  src:  url('concreap.eot?e7nll3');
  src:  url('concreap.eot?e7nll3#iefix') format('embedded-opentype'),
    url('concreap.ttf?e7nll3') format('truetype'),
    url('concreap.woff?e7nll3') format('woff'),
    url('concreap.svg?e7nll3#concreap') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cp-"], [class*=" cp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'concreap' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-exit-fullscreen:before {
  content: "\e947";
}
.cp-contract:before {
  content: "\e948";
}
.cp-eject .path1:before {
  content: "\e949";
  color: rgb(12, 12, 13);
}
.cp-eject .path2:before {
  content: "\e94a";
  margin-left: -0.9169921875em;
  color: rgb(9, 9, 85);
}
.cp-expand:before {
  content: "\e94b";
}
.cp-fullscreen:before {
  content: "\e94c";
}
.cp-next .path1:before {
  content: "\e94d";
  color: rgb(12, 12, 13);
}
.cp-next .path2:before {
  content: "\e94e";
  margin-left: -0.8330078125em;
  color: rgb(9, 9, 85);
}
.cp-pause:before {
  content: "\e94f";
}
.cp-play:before {
  content: "\e950";
}
.cp-prev .path1:before {
  content: "\e951";
  color: rgb(12, 12, 13);
}
.cp-prev .path2:before {
  content: "\e952";
  margin-left: -0.8330078125em;
  color: rgb(9, 9, 85);
}
.cp-volume .path1:before {
  content: "\e953";
  color: rgb(9, 9, 85);
}
.cp-volume .path2:before {
  content: "\e954";
  margin-left: -1.2392578125em;
  color: rgb(12, 12, 13);
}
.cp-audio .path1:before {
  content: "\e943";
  color: rgb(9, 9, 85);
}
.cp-audio .path2:before {
  content: "\e944";
  margin-left: -0.865234375em;
  color: rgb(12, 12, 13);
}
.cp-code .path1:before {
  content: "\e945";
  color: rgb(12, 12, 13);
}
.cp-code .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(9, 9, 85);
}
.cp-books .path1:before {
  content: "\e937";
  color: rgb(12, 12, 13);
}
.cp-books .path2:before {
  content: "\e938";
  margin-left: -1.7373046875em;
  color: rgb(9, 9, 85);
}
.cp-copy .path1:before {
  content: "\e939";
  color: rgb(9, 9, 85);
}
.cp-copy .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(12, 12, 13);
}
.cp-drag-dots:before {
  content: "\e93b";
}
.cp-layer .path1:before {
  content: "\e93c";
  color: rgb(12, 12, 13);
}
.cp-layer .path2:before {
  content: "\e93d";
  margin-left: -0.9375em;
  color: rgb(9, 9, 85);
}
.cp-library .path1:before {
  content: "\e93e";
  color: rgb(12, 12, 13);
}
.cp-library .path2:before {
  content: "\e93f";
  margin-left: -1.0341796875em;
  color: rgb(9, 9, 85);
}
.cp-users .path1:before {
  content: "\e940";
  color: rgb(12, 12, 13);
}
.cp-users .path2:before {
  content: "\e941";
  margin-left: -0.8828125em;
  color: rgb(9, 9, 85);
}
.cp-users .path3:before {
  content: "\e942";
  margin-left: -0.8828125em;
  color: rgb(9, 9, 85);
}
.cp-dots:before {
  content: "\e936";
}
.cp-bin .path1:before {
  content: "\e930";
  color: rgb(9, 9, 85);
}
.cp-bin .path2:before {
  content: "\e931";
  margin-left: -0.8271484375em;
  color: rgb(12, 12, 13);
}
.cp-blog .path1:before {
  content: "\e932";
  color: rgb(12, 12, 13);
}
.cp-blog .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(9, 9, 85);
}
.cp-info .path1:before {
  content: "\e934";
  color: rgb(12, 12, 13);
}
.cp-info .path2:before {
  content: "\e935";
  margin-left: -0.2138671875em;
  color: rgb(9, 9, 85);
}
.cp-long-arrow-left:before {
  content: "\e92e";
}
.cp-long-arrow-right:before {
  content: "\e92f";
}
.cp-love .path1:before {
  content: "\e92c";
  color: rgb(12, 12, 13);
}
.cp-love .path2:before {
  content: "\e92d";
  margin-left: -1.1201171875em;
  color: rgb(9, 9, 85);
}
.cp-avatar:before {
  content: "\e92b";
}
.cp-callout .path1:before {
  content: "\e900";
  color: rgb(9, 9, 85);
}
.cp-callout .path2:before {
  content: "\e901";
  margin-left: -1.03125em;
  color: rgb(12, 12, 13);
}
.cp-camera .path1:before {
  content: "\e902";
  color: rgb(9, 9, 85);
}
.cp-camera .path2:before {
  content: "\e903";
  margin-left: -1.7998046875em;
  color: rgb(12, 12, 13);
}
.cp-card .path1:before {
  content: "\e904";
  color: rgb(12, 12, 13);
}
.cp-card .path2:before {
  content: "\e905";
  margin-left: -1.4072265625em;
  color: rgb(9, 9, 85);
}
.cp-course .path1:before {
  content: "\e906";
  color: rgb(12, 12, 13);
}
.cp-course .path2:before {
  content: "\e907";
  margin-left: -1.23046875em;
  color: rgb(9, 9, 85);
}
.cp-download .path1:before {
  content: "\e908";
  color: rgb(9, 9, 85);
}
.cp-download .path2:before {
  content: "\e909";
  margin-left: -0.9619140625em;
  color: rgb(12, 12, 13);
}
.cp-emoji:before {
  content: "\e90a";
}
.cp-error:before {
  content: "\e90b";
}
.cp-eye-break .path1:before {
  content: "\e90c";
  color: rgb(12, 12, 13);
}
.cp-eye-break .path2:before {
  content: "\e90d";
  margin-left: -1.6923828125em;
  color: rgb(12, 12, 13);
}
.cp-eye-break .path3:before {
  content: "\e90e";
  margin-left: -1.6923828125em;
  color: rgb(9, 9, 85);
}
.cp-eye-break .path4:before {
  content: "\e90f";
  margin-left: -1.6923828125em;
  color: rgb(9, 9, 85);
}
.cp-eye .path1:before {
  content: "\e910";
  color: rgb(12, 12, 13);
}
.cp-eye .path2:before {
  content: "\e911";
  margin-left: -1.6923828125em;
  color: rgb(9, 9, 85);
}
.cp-filter .path1:before {
  content: "\e912";
  color: rgb(12, 12, 13);
}
.cp-filter .path2:before {
  content: "\e913";
  margin-left: -1.93359375em;
  color: rgb(9, 9, 85);
}
.cp-home .path1:before {
  content: "\e914";
  color: rgb(12, 12, 13);
}
.cp-home .path2:before {
  content: "\e915";
  margin-left: -1.02734375em;
  color: rgb(9, 9, 85);
}
.cp-image .path1:before {
  content: "\e916";
  color: rgb(12, 12, 13);
}
.cp-image .path2:before {
  content: "\e917";
  margin-left: -0.9677734375em;
  color: rgb(9, 9, 85);
}
.cp-lock .path1:before {
  content: "\e918";
  color: rgb(12, 12, 13);
}
.cp-lock .path2:before {
  content: "\e919";
  margin-left: -0.888671875em;
  color: rgb(9, 9, 85);
}
.cp-power .path1:before {
  content: "\e91a";
  color: rgb(12, 12, 13);
}
.cp-power .path2:before {
  content: "\e91b";
  margin-left: -0.865234375em;
  color: rgb(9, 9, 85);
}
.cp-reload .path1:before {
  content: "\e91c";
  color: rgb(9, 9, 85);
}
.cp-reload .path2:before {
  content: "\e91d";
  margin-left: -1.15625em;
  color: rgb(12, 12, 13);
}
.cp-search .path1:before {
  content: "\e91e";
  color: rgb(9, 9, 85);
}
.cp-search .path2:before {
  content: "\e91f";
  margin-left: -0.9716796875em;
  color: rgb(12, 12, 13);
}
.cp-send:before {
  content: "\e920";
}
.cp-settings .path1:before {
  content: "\e921";
  color: rgb(12, 12, 13);
}
.cp-settings .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(9, 9, 85);
}
.cp-team .path1:before {
  content: "\e923";
  color: rgb(12, 12, 13);
}
.cp-team .path2:before {
  content: "\e924";
  margin-left: -1.1728515625em;
  color: rgb(9, 9, 85);
}
.cp-team .path3:before {
  content: "\e925";
  margin-left: -1.1728515625em;
  color: rgb(9, 9, 85);
}
.cp-team .path4:before {
  content: "\e926";
  margin-left: -1.1728515625em;
  color: rgb(9, 9, 85);
}
.cp-team .path5:before {
  content: "\e927";
  margin-left: -1.1728515625em;
  color: rgb(9, 9, 85);
}
.cp-wifi:before {
  content: "\e928";
}
.cp-bell .path1:before {
  content: "\e929";
  color: rgb(12, 12, 13);
}
.cp-bell .path2:before {
  content: "\e92a";
  margin-left: -0.900390625em;
  color: rgb(9, 9, 85);
}
